@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Work Sans", sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    
  }

  .btn-primary{
     background-color: yellowgreen;
     border-radius: 8px;
     padding: 20px 25px;
     color: azure;
     font-size: 1.25rem;
     cursor: pointer;
     border: 0;

  }

  /* header styles */

  header{
    background-color: blanchedalmond;
    padding: 50px 240px;
  }

  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-title{
    font-size: 3rem;
    font-weight: 700;
    color: black;


  }

  nav > ul {
    display: flex;
  }

  nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500px;
    font-size: 1rem;
  }

  nav li a{
    text-decoration: none;
    color: burlywood;
  }

  /* banner styles */

  .banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
  }

  .banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: darkgrey;

  }

  

  .banner-description{
    color: aquamarine;
  }
  .banner img{
    margin-top: 20px;
    width: 100%;
  }


  /* main styles */

  main{
    max-width: 1440px;
    margin: 70 auto;
  }

  /* teams style */
  .teams-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:24px;
  }
  .teams-content{
   text-align: left;
  }
  
  .teams-title{
    font-size: 3rem;
  }



  /* featurees section styles */


.features{
  margin-top: 50px;
  display: flex;
  gap: 50px;

}

.feature-content .card{
         border-radius: 8px;
         padding: 30px;
         margin-bottom: 20px;
}

.ten-years{
  border-radius: 8px;
  background-color: blueviolet;
  color: white;
  width: 150px;
  padding: 25px;
  text-align: center;
  position: relative;
  top: -100px;
  left: -300px;

}

.ten-years h2{
  font-size: 3rem;
  margin: 0;
}

.ten-years p{
   font-size: 1rem;
}







  /* responsive styles */

  @media screen and (max-width: 576px) {
    header{
      padding: 20px;
    }
    nav, .teams-container{
      flex-direction: column;
    }
    .teams-img-container{
      grid-template-columns: 1fr;
    }
    .teams-img-container img{
      width: 100%;
    }
    
    .teams-content{
      text-align: center;
      width:70%
     }

     .features{
      flex-direction: column;
     }
     .feature-img img{
      width: 100%;
     }

     .ten-years{
      border-radius: 8px;
      background-color: blueviolet;
      color: white;
      width: 150px;
      padding: 25px;
      text-align: center;
      position: static;
     
    
    }

  }




  @media screen and (min-width:576px) and (max-width:960px){
    
   *{
    max-width: 100%;
   } 

    header{
      padding: 50px;
    }
    nav, .teams-container{
      flex-direction: column;
      
    }

    .features{
      margin-top: 50px;
      display: flex;
      gap: 0px;
    
    }


    .teams-content{
      text-align: center;
      width:70%
     }

     .ten-years{
      border-radius: 8px;
      background-color: blueviolet;
      color: white;
      width: 150px;
      padding: 25px;
      text-align: center;
      position: static;
     
    
    }
   
  }


  